*{
    margin: 0%;
    padding: 0%;
}
.row.stage1{
    padding-top: 10px;
}
.col-3.date1{
    padding-left: 280px;
}
.col-3.date1 p{
    font-size: 20px;
    padding: px;
}
.col-1.search{
    padding-top: 2px;
    border-radius: 12px;
    
}
.col-2.datevalue{
    padding-left: 20px;
}
.Search-slot{
    cursor: pointer;
    
    
}


.row{
    padding-top: 50px;
}

.col-12{
    padding-left: 50%;
}
.slotdata{
    text-align: center;
    padding-left: 20%;
    
}

/* .col-12{
    padding-left: 20%;
} */
.row.slotsize{
    padding-left: 10%;
}
.slotsize1{
    padding-left: 0px;
    width: 100%;
}
.row.col-12{
    padding-left: 30%;
}

/* .row.row-1.col-2.slotsize1{
    
} */

.row.slotsize{
    display: none;
}  

.slotsize1:active{
    background-color: green;
}

.seat.selected{
    background-color: brown;
}
.required{
    padding-top: 10px
}
.required li{
    display: inline-flex;
    padding-right: 10px;
}

/* space for  */
.space{
    width: 1px;
    padding: 10px;
    border: 2px solid black;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 6px;
    display: inline-block;
}

.slot.n{
    display: inline-block;  
}
.space.occupied{
    width: 1px;
    padding: 10px;
    border: 2px solid black;
    padding-top: 10px;
    background-color: #eee;
}
.space.selected{
    width: 1px;
    padding: 10px;
    border: 2px solid black;
    padding-top: 10px;
    background-color: green;

}